
#app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background: transparent;
  width: 50%;
}

input {
  width: 100%;
}

.input {
  margin-bottom: 1.5em;
  margin-right: 1.5em;
}

.thank-you {

}

.validation-error {
  color: orange;
  display: block;
}

.button {
  margin-top: .2em;
  display: block;
}

.input-container {
  margin-top: 1.5em;
}




