
#app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background: transparent;
  width: 40%;
}

input {
  width: 90%;
}

.input {
  margin-bottom: 1.5em;
  margin-right: 1.5em;
}

.error-message {
  color: orange;
}

.error-message:hover {
  color: green;
  text-decoration: none;
}

.validation-error {
  color: orange;
  display: block;
}

.button {
  margin-top: .2em;
  display: block;
}

.input-container {
  margin-top: 1.5em;
}

.thank-you {
  text-align: center;
}




